html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  position: relative;
  width: 100vw;
  /*100% */
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  touch-action: none;
}

.bordered-img {
  border: 5px solid white;
  border-radius: 4px;
  width: 90%;
  max-width: 350px;
  /*width: min(90%, 350px); */
  height: auto;
}

.bg-desktop-black {
  background-color: black;
}

.responsive-img {
  border: 5px solid white;
  border-radius: 4px;
  max-width: 350px;
  width: 90%;
  /* 100% */
  height: auto;
}

@media (max-width: 768px) {
  .bg-desktop-black {
    background-color: transparent !important;
  }

  .responsive-img {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    object-fit: cover;
    border: none;
    max-width: none;
  }
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 28px;
  color: white;
  background: rgba(255, 255, 255, 0);
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "alegreya", sans-serif;
}

.start-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.text-overlay,
.text-overlay1,
.text-overlay2,
.text-overlay3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  /* max-height:100% */
  z-index: 10;
}

.text-overlay {
  top: 20%;
}

.text-overlay2 {
  top: 30%;
}

.text-overlay1 {
  top: 0%;
}

.text-overlay3 {
  top: 10%;
}

.p1 {
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 48px;
  margin: 5px 0;
}

.p2 {
  font-family: "Alegreya", serif;
  color: white;
  font-size: 28px;
  margin-top: 15px;
}

.p3 {
  font-family: "Alegreya", serif;
  color: white;
  font-size: 30px;
  margin-top: 15px;
  font-style: italic;
}

.p4 {
  font-family: "Alegreya", serif;
  color: white;
  font-size: 28px;
  margin-top: 15px;
  font-style: italic;
}

.p5 {
  font-family: "Alegreya", serif;
  color: white;
  font-size: 20px;
  margin-top: 15px;
}

.p6 {
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 32px;
  margin-top: 15px;
}

.p7 {
  font-family: "Alegreya", serif;
  color: white;
  font-size: 22px;
  margin-top: 15px;
}

.p8 {
  font-family: "allura", serif;
  color: white;
  font-size: 28px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.p9 {
  font-family: "cormorant", serif;
  color: white;
  font-size: 30px;
  margin-top: 15px;
}

.p10 {
  font-family: "cormorant", serif;
  color: white;
  font-size: 25px;
  margin-top: 15px;
}

.p11 {
  font-family: "cormorant", serif;
  color: white;
  font-size: 25px;
  margin-top: -20px;
}

.p12 {
  font-family: "cormorant", serif;
  color: white;
  font-size: 25px;
  margin-top: 15px;
}

.swipe-up {
  position: absolute;
  bottom: 40px;
  /*  calc(20px + env(safe-area-inset-bottom)) */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}

.swipe-text {
  font-size: 25px;
  color: white;
  margin-bottom: 5px;
  font-family: "Alegreya", serif;
}

.swipe-arrow {
  font-size: 30px;
  color: white;
  animation: bounce 1.2s infinite;
  opacity: 0.9;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.page2-wrapper {
  height: 100vh;
  height: 100dvh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.page2-wrapper .p1 {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  margin-bottom: 10px;
}

.page2-wrapper .p2 {
  font-family: "Alegreya", serif;
  font-size: 28px;
  margin: 5px 0;
}

.location-btn {
  border-radius: 10%;
  padding: 12px 20px;
  font-size: 20px;
  color: white;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "alegreya", sans-serif;
}

.location-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.logo-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-card {
  display: inline-block;
  padding: 14px 14px 20px 14px;
  background: white;
  transform: rotate(-20deg);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.image-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-text {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-family: "Great Vibes", cursive;
  color: #333;
}

.music-icon {
  position: absolute;
  bottom: calc(20px + env(safe-area-inset-bottom));
  left: 20px;
  z-index: 99999;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background: rgba(0, 0, 0, 0.5);
  border: 1px solid white; */
  cursor: pointer;
  pointer-events: auto;
}

.whatsapp-icon {
  position: absolute;
  bottom: calc(20px + env(safe-area-inset-bottom));
  right: 20px;
  z-index: 99999;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background: rgba(0, 0, 0, 0.5);
  border: 1px solid white; */
  cursor: pointer;
  pointer-events: auto;
  animation: bounce 1.8s infinite;
  filter: drop-shadow(0 0 2px white);
  transition: transform 0.2s ease;
}

.whatsapp-icon:active {
  transform: scale(0.9);
}

.text-overlay4 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 10;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 16px;
  width: 80%;
  max-width: 280px;
  text-align: center;
  animation: pop 0.2s ease;
}

.modal-btn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #25D366;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@keyframes pop {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
.calendar-btn-premium {
  margin-top: 14px;
  padding: 12px 20px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #d4af37;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(212, 175, 55, 0.5);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  font-family: "Playfair Display", serif;
  transition: all 0.35s ease;
  font-weight: 700;
}

.calendar-btn-premium:hover {
  color: #fff;
  background: linear-gradient( 135deg, rgba(212, 175, 55, 0.25), rgba(255, 215, 0, 0.15));
  border-color: #d4af37;
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.4);
}

.calendar-btn-premium:active {
  transform: scale(0.96);
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px; 
  margin-top: 15px;
}

.google-icon {
  background: linear-gradient(
    45deg,
    #4285F4,  /* blue */
    #34A853,  /* green */
    #FBBC05,  /* yellow */
    #EA4335   /* red */
  );
}